hostname {{host.hostname}}
no ip domain lookup
!
line con 0
 logging synchronous
 exit
!
interface Loopback0
 ip address {{host.loopback.ipv4_addr}} {{host.loopback.ipv4_mask}}
 no shutdown
!
interface GigabitEthernet1
 no shutdown
!
{% for interface in host.interfaces %}
interface {{interface.name}}
 encapsulation dot1Q {{interface.encapsulation}}
 ip address {{interface.ipv4_addr}} {{interface.ipv4_mask}}
 no shutdown
!
{% endfor %}
router rip
 version 2
{% for network in host.rip_networks %}
 network {{network}}
{% endfor %}
 no auto-summary
 exit
!
line vty 0 4
 login local
 transport input all
 exit
